*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f1f1f1;
}
h1{
    color: red;
    background: #ccc;
    padding: 5px 10px;
    width: 50%;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
}
p{
    color: rgb(17, 0, 255);
    background: #b6c20a;
    padding:  20px;
    width: 70%;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
}